html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100%;
    align-items: center; 
    justify-content: space-around;
}

#cy1, #cy2 {
    width: 47%;
    height: 50%;
    border: 1px solid #0a0808;
    box-sizing: border-box;
}