html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#buttons_and_checkboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    font-size: 0.9vw;
    gap: 12px
}

#start_reset {
    display: flex;
    gap: 10px;
    height: 80px;
}

#steps {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#above_containers {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0px 10px;
    gap: 20px;
}

.above_containers_part {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.explanation_container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.strategies_select {
    display: flex;
    flex: 1; 
    gap: 15px;
}

.selects {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.select {
    width: 100%;            
    padding: 8px;            
    border: 1px solid #000;  
    background: #fff;   
    font-family: sans-serif; 
    cursor: pointer;
}

.select:disabled {
    color: #000000;
    cursor: not-allowed;
    opacity: 1;
}

#explain_text1, #explain_text2 {
    border: 1px solid #000000;
    font-size: 1.2vw;
    padding: 5px;
    overflow: hidden;
    height: 30px;
}

#graph_containers {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 20px;
}

#graph_container1, #graph_container2 {
    flex: 1; 
    border: 1px solid #000000;
    box-sizing: border-box;
}

#queues {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.checkbox {
    width: 22px;
    height: 22px;
    cursor: pointer;
    vertical-align: middle;
}

#first_queues, #second_queues {
    flex: 1;
    display: flex;
    gap: 10px;
}

.priority_queue_f, .priority_queue_b {
    flex: 1;
    border: 1px solid #000000; 
    padding: 10px;
    font-family: sans-serif;
    font-size: 1.5vw;
    min-height: 20px;
}

.main_button {
    font-size: 1.2vw; 
    background-color: #648cfa;
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
}

.main_button:hover { 
    background-color: #0056b3; 
}

.main_button:disabled {
    background-color: #929292;
    cursor: not-allowed;
}

.empty {
    flex: 0.3;
}

.fit_btn {
    height: 70%;
    margin-top: auto;
    background-color: #648cfa;
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    padding: 10px;
}

.fit_btn:hover { 
    background-color: #0056b3; 
}

.copy_btn {
    margin-top: auto;
    height: 70%;
    background-color: #648cfa;
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
}

.copy_btn:hover { 
    background-color: #0056b3; 
}

.copy_btn:disabled {
    background-color: #929292;
    cursor: not-allowed;
}

#step_size {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.export_btn {
    background-color: #648cfa;
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
}

.export_btn:hover { 
    background-color: #0056b3; 
}

.export_change_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
