html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div, select, button {
    border-radius: 6px; 
}

button {
    transition: all 0.3s ease;
}

#buttons_and_checkboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    gap: 20px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
    border: 1px solid #e0e0e0;
}

.checkboxes {
    display: flex;
    flex: 1.7;
    flex-direction: column;
    font-size: 0.8vw;
    gap: 10px
}

#start_reset {
    display: flex;
    flex: 2;
    gap: 10px;
    height: 80px;
}

#steps {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 5px;
}

#number_of_steps {
    display: flex;
    flex: 1;
    cursor: pointer;
}

#steps_buttons {
    display: flex;
    flex: 1;
    gap: 10px;
}

.move_button {
    font-size: 1vw; 
    background-color: rgba(113, 162, 252, 0.756);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); 
    color: rgb(6, 44, 114);
    cursor: pointer; 
    border: none; 
    padding: 10px 15px;
    flex: 1;
    height: 75%;
}

.move_button:not(:disabled):hover { 
    background-color: #236ab6c5; 
}

.move_button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.empty2 {
    flex: 2.1;
}

.empty {
    flex: 0.5;
}

#above_containers {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0px 10px;
    gap: 20px;
}

.above_containers_part {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

#above_right {
    flex-direction: row-reverse;
}

.explanation_container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.button_selects {
    display: flex;
    flex: 1; 
    gap: 15px;
}

.selects {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.graph_select {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.select {
    width: 100%;            
    padding: 8px;            
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15); 
    border: 1px solid #dee2e6;   
    background: #fff;   
    font-family: sans-serif; 
    cursor: pointer;
}

.select:disabled {
    color: #000000;
    cursor: not-allowed;
    opacity: 1;
}

.select option {
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15); 
    border: 1px solid #dee2e6; 
    padding: 10px;
}

.import {
    display: none;
}

#explain_text1, #explain_text2 {
    border: 1px solid #dee2e6;
    font-size: 0.9vw;
    padding: 10px;
    overflow: auto;
    min-height: 25px;
    white-space: pre-wrap;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
}

#graph_containers {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 20px;
    min-width: 0;
    min-height: 0;
}

#graph_container1, #graph_container2 {
    display: flex;
    flex: 1; 
    border: 1px solid #dee2e6;
    min-width: 0;
    min-height: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

#queues {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.checkbox {
    width: 22px;
    height: 22px;
    cursor: pointer;
    vertical-align: middle;
}

#first_queues, #second_queues {
    flex: 1;
    display: flex;
    gap: 10px;
}

.priority_queue_f, .priority_queue_b {
    flex: 1;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15); 
    border: 1px solid #dee2e6;
    padding: 12px;
    font-family: sans-serif;
    font-size: 1.3vw;
}

.start_reset_button {
    font-size: 1.5vw; 
    cursor: pointer; 
    border: none; 
    padding: 10px 15px;
    height: 75%;
}

#start {
    background-color: #49b257;
    color: rgb(0, 67, 0);
}

#start:not(:disabled):hover {
    background-color: #307e39;
}

#start:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

#reset {
    background-color: #fb8383;
    color: rgb(158, 1, 1)
}

#reset:not(:disabled):hover {
    background-color: #c56666;
}

#reset:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.fit_btn {
    flex: 1;
    background-color: rgba(113, 162, 252, 0.756);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); 
    color: rgb(6, 44, 114);
    cursor: pointer; 
    border: none; 
    padding: 10px;
}

.fit_btn:not(:disabled):hover { 
    background-color: #236ab6c5; 
}

.copy_btn {
    flex: 1;
    background-color: rgba(113, 162, 252, 0.756);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); 
    color: rgb(6, 44, 114);
    cursor: pointer; 
    border: none; 
    padding: 10px 15px;
}

.copy_btn:not(:disabled):hover { 
    background-color: #236ab6c5; 
}

.copy_btn:disabled {
    color: #4c4c4cb3;
    background-color: #929292;
    cursor: not-allowed;
}

.fit_copy_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#step_size {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.export_btn {
    background-color: #439cfb3b;
    color: #05458a9c;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.08); 
    cursor: pointer; 
    border: none; 
    padding: 10px;
}

.export_btn:not(:disabled):hover { 
    background-color:  #439cfbbc; 
}

.export_btn:disabled {
    color: #4c4c4cb3;
    background-color: #929292;
    cursor: not-allowed;
}

.export_change_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.strategy_select {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 10%;
    gap: 10px;
}

#popper_btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px
}

.popper_btn {
    font-size: 0.7vw; 
    background-color: rgba(113, 162, 252, 0.756);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); 
    color: rgb(6, 44, 114);
    cursor: pointer; 
    border: none; 
    padding: 10px 15px;
    width: 100%;
}

.popper_btn:not(:disabled):hover {
    background-color: #236ab6c5; 
}

.popper_btn:disabled {
    background-color: #929292;
    cursor: not-allowed;
    color: #464646;
}

.useful_links_texts {
    flex: 1;
    flex-direction: column;
    font-size: 0.8vw;
    background-color: rgba(209, 209, 209, 0.578);
    padding: 10px;
}